name: 'php'
on: push

jobs:
  php:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest ]
    steps:
      - name: "Set Environment Variable"
        run: export TEST_A=a
      - run: TEST_B=b php env_test.php
        env:
          TEST_C: c
