name: 'php'
on: push

jobs:
  php:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-20.04, ubuntu-18.04 ]
    steps:
      - name: "Show PHP Version"
        run: php7.4 -v
      - name: "List PHP Extensions"
        run: php7.4 -m
      - name: "Show PHP Info"
        run: php7.4 -i
